@import url('http://fonts.cdnfonts.com/css/cocogoose');
:root {
  --color1: #272a31;
  --color2: #ec5242;
  --color3: #d3d3d3;
}

body {
  background-color: var(--color3);
  margin: 0;
  padding: 0;
}
h1,
p,
ul,
li {
  font-family: 'COCOGOOSE', sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
}

.logo,
.nav_menu,
.close_button {
  display: none;
}

.hamburger > img {
  width: 40px;
  padding: 0 12px;
}

.main,
.about {
  padding: 0 12px;
  margin-top: 48px;
}

.main_sub_title,
.about_sub_title,
.main_title,
.about_title {
  color: var(--color2);
  margin: 0;
}

.main_title,
.about_title {
  margin-bottom: 12px;
}

.main_intro {
  padding: 12px;
  border: 3px solid #fff;
  margin-bottom: 12px;
}

.date {
  color: var(--color1);
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 12px;
}

.main_venue {
  font-size: 12px;
  margin-bottom: 48px;
}

.activity {
  background-color: var(--color1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.activity_title {
  color: #fff;
  font-size: 24px;
  margin: 36px 0 12px 0;
}

.bar {
  width: 40px;
  height: 1px;
  background-color: var(--color2);
}

.home_bar {
  margin-bottom: 36px;
}

.activity_menu {
  display: flex;
  flex-direction: column;
}

.activity_menu_item {
  display: flex;
  align-items: center;
  padding: 24px 0;
  background-color: rgb(73, 70, 70);
  margin: 6px 12px;
}

.activity_menu_item > img {
  width: 10%;
  padding: 0 12px;
}

.brief {
  padding-right: 12px;
  color: var(--color3);
  width: 60%;
  font-size: 12px;
}

span {
  padding-right: 12px;
  color: var(--color2);
  width: 20%;
  font-size: 14px;
}

.connect {
  padding: 24px;
  margin: 36px;
  background-color: var(--color2);
  color: var(--color3);
  text-align: center;
}

.guest_speaker {
  background-color: var(--color3);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.guest_title {
  margin-bottom: 8px;
}

.speaker_lists {
  display: flex;
  margin: 0 12px;
}

.speaker_image {
  width: 100px;
  height: 100px;
}

.speaker_image > img {
  width: 100%;
  margin-right: 12px;
}

.speaker_details {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.speaker_name,
.speaker_discipline,
.speaker_biography {
  padding: 0;
  margin: 0;
  font-size: 12px;
}

.more {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 24px 24px;
  padding: 12px 0;
  border: 2px solid var(--color3);
}

.more_speaker {
  margin-right: 12px;
  color: var(--color3);
}

.more > img {
  height: 60%;
  color: var(--color2);
  padding-top: 6px;
}

.about_intro {
  background-color: #fff;
  padding: 12px 8px;
  text-align: center;
}

.contact {
  padding: 24px 36px 12px 36px;
  text-align: center;
  font-size: 12px;
}

.email {
  padding: 0 36px 12px 36px;
  font-size: 12px;
  text-align: center;
}

.about_exquisite {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
}

.about_bar {
  margin-bottom: 12px;
}
.logo_origin {
  font-size: 8px;
  margin: 0 24px 36px 24px;
  color: var(--color1);
}

.about_logo {
  width: 70%;
  height: 100%;
  border: 2px solid var(--color3);
  padding: 0 24px;
  margin-bottom: 24px;
}

.past_exhibition {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-top: 2px solid var(--color3);
}

.last_two {
  font-size: 12px;
  padding: 0 24px;
  text-align: center;
  color: var(--color3);
  font-weight: 700px;
  margin-bottom: 24px;
}

.past_exhibition_menu {
  margin-bottom: 36px;
}

.past_exhibition_menu_item {
  background-image: url('./images/housing.jpg');
  background-repeat: no-repeat;
  height: 150px;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.year {
  font-size: 24px;
}

.year_exh {
  font-size: 8px;
  padding: 0 64px;
}

.partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color1);
  color: var(--color3);
}

.partner_bar {
  margin-bottom: 12px;
}

.partner_menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.partner_menu_item {
  width: 32%;
  padding: 12px 0;
}

.footer {
  background-color: #fff;
  display: flex;
  font-size: 12px;
}

.footer_item {
  display: flex;
  flex-direction: column;
  padding: 24px;
  justify-content: center;
}

.footer_name {
  display: flex;
  flex-direction: column;
  line-height: 10px;
  padding: 0;
  margin: 0;
  color: var(--color1);
}

.footer_info {
  font-size: 8px;
  color: var(--color3);
}

@media screen and (min-width: 768px) {
  nav {
    background-color: #fff;
    margin: 0;
    padding: 0 10%;
    display: flex;
    align-items: center;
  }

  .logo {
    display: flex;
    width: 30%;
    height: 80px;
  }

  .nav_menu {
    display: flex;
    justify-content: space-around;
  }

  .nav_menu_item {
    padding: 0 24px;
    font-size: 14px;
  }

  .other_item {
    color: var(--color3);
  }

  .about_page {
    color: var(--color2);
    font-size: 14px;
  }

  .er_exhibition {
    padding: 12px;
    margin-left: 12px;
    border: 4px solid var(--color2);
    color: var(--color2);
  }

  .hamburger {
    display: none;
  }
}
